<div class="container-fluid">
	<div id="single" class="col-xs-12 col-sm-10 col-sm-offset-1">
		<h1 class="page-header"><%= controller.titleize %> - <%= page.titleize %></h1>
		<div id="footer" class="visible-xs">
			<%%= render 'layouts/copyright' %>
		</div>
	</div>
</div>
