<div class="container-fluid">
	<div id="single" class="col-xs-12">
		<h1 class="page-header"><%= controller.titleize %> - <%= page.titleize %></h1>
		<div id="footer">
			<%%= render 'layouts/copyright' %>
		</div>
	</div>
</div>
