<%% current_page = @offset > 0 ? (@offset / @number) + 1 : 1 %>
<%% mod = @total % @number %>
<%% total_pages = (@total / @number) %>
<%% if mod > 0 %>
<%% total_pages = total_pages + 1 %>
<%% end %>
<%% first_page = current_page > 2 ? current_page - 2 : 1 %>
<%% last_page = first_page + 4 > total_pages ? total_pages : first_page + 4 %>
<%% p [@offset.to_s, @number.to_s, @total.to_s, current_page.to_s, total_pages.to_s, first_page.to_s, last_page.to_s].join(", ") %>
<%% if total_pages > 1 %>
<div class="row pagination" data-number="<%%= @number %>" data-offset="<%%= @offset %>" data-total="<%%= @total %>">
	<div class="col-xs-12">
		<%% if current_page == 1 %>
		<%%= link_to "&lt;&lt;".html_safe, "#", :class => "btn-pagination disabled", :disabled => true %>
		<%%= link_to "&lt;".html_safe, "#", :class => "btn-pagination disabled", :disabled => true %>
		<%% else %>
		<%%= link_to "&lt;&lt;".html_safe, "#", :class => "btn-pagination" %>
		<%%= link_to "&lt;".html_safe, "#", :class => "btn-pagination" %>
		<%% end %>
		
		<%% if first_page > 1 %>
		<%%= link_to "&hellip;".html_safe, "#", :class => "btn-pagination disabled", :disabled => true %>
		<%% end %>
		
		<%% (first_page..last_page).each do |i| %>
		<%% if i == current_page %>
		<%%= link_to i, "#", :class => "btn-pagination active", :disabled => true %>
		<%% else %>
		<%%= link_to i, "#", :class => "btn-pagination" %>
		<%% end %>
		<%% end %>
		
		<%% if last_page < total_pages %>
		<%%= link_to "&hellip;".html_safe, "#", :class => "btn-pagination disabled", :disabled => true %>
		<%% end %>
		
		<%% if current_page == last_page %>
		<%%= link_to "&gt;".html_safe, "#", :class => "btn-pagination disabled", :disabled => true %>
		<%%= link_to "&gt;&gt;".html_safe, "#", :class => "btn-pagination disabled", :disabled => true %>
		<%% else %>
		<%%= link_to "&gt;".html_safe, "#", :class => "btn-pagination" %>
		<%%= link_to "&gt;&gt;".html_safe, "#", :class => "btn-pagination" %>
		<%% end %>
	</div>
</div>
<%% end %>
